body{
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
}
.apple{
    width: 80%;
    margin: 0 auto;
    overflow:hidden;

}
ul{
    margin: 0;
    padding: 0;
}
header{
    background: #143059;
    color: #ffffff;
    padding: 10px 0;
}
header a{
    color: #ffffff;
    font-size: 20px;
}
header li{
    display: inline;
    padding: 0 20px;
}
#caption{
    float: left;
}
#caption h1{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 10px;
}
header .highlight,header.current a{
    color: #f4B414;
    font-weight: bold;
}
header a:hover{
    color:#cccccc;
    font-weight: bold;
}
#heading{
    min-height: 500px;
    background-image: url('https://itxitpro.com/front/img/web-development-services.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    color:#ffffff
}
#heading h1{
    margin-top: 100px;
    margin-bottom: 0;
    font-size: 75px;
    font-family: 'Abril fatface',cursive;
}
#heading h2{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 75px;
    font-family: 'Abril fatface',cursive;
}
#search{
    padding:25px;
    background: #143059;
}
#images{
    margin-top: 100px;
}
#images .box{
    float: left;
    text-align: center;
    padding: 10px;
    width: 30%;
}
#images .box img{
    width: 50px;
}
#images .box h3{
    font-weight: bolder;
    font-size: 25px;
}
#images .box p{
    font-family: 'Lobster',cursive;
    font-size: 25px;
}
#Slogan h2{
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    color: rgb(4,158,55);
    margin-top: 70px;
    margin-bottom: 50px;
}
#Slogan p{
    text-align: center;
    font-size: 25px;
    font-family:'Lobster',cursive;,
}
#Slogan h4{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Abril fatface',cursive;
}
#forms{
    background-color: bisque;
    padding: 20px;
    margin-left: 30%;
    margin-right: 30%;
}
#forms .form{
    padding-bottom: 15px;
    font-size: 20px;
    color: #f4B414;
    font-weight: bold;
}
#forms label{
    display: block;
}
#slogans h2{
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    color: rgb(4,158,55);
    margin-top: 70px;
    margin-bottom: 50
}
#video{
    margin-top: 25px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
}
footer{
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #143059;
    text-align: center;
}